name: Repo

on:
  # push:
  #   branches:
  #     - main
  schedule:
    - cron: "0 */3 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Main Workflow 
    steps:
      - name: Contributors by categories
        uses: lowlighter/metrics@latest
        with:
         filename: metrics.plugin.contributors.categories.svg
         token: ${{ secrets.GITHUB_TOKEN }}
         base: ""
         template: repository
         repo: arkapg211002
         plugin_contributors: yes
         plugin_contributors_sections: categories
         plugin_contributors_contributions: yes

        
